.treeViewList li ul {
    /*border-left: dashed 2px black;*/
    height: fit-content;
    /*border-start-end-radius: 2px;*/
}

ul, .treeViewList {
    list-style-type: none;
}

.treeViewList ul li {
    position: relative;
}

.treeViewList ul span.caret:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -28px;
    width: 24px;
    height: 20px;
    /*border-bottom: dashed 1px black;*/
    /*border-left: dashed 1px black;*/
}

.treeViewList {
    margin: 0;
    padding: 0;
}

.treeViewList ul {
    padding-left: 1rem;
}

.caret {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\276F";
    display: inline-block;
    margin-right: 5px;
    transition: all 0.45s;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    transition: all 0.45s;
}

.nested {
    display: none;
    transition: all 0.45s;
}

.active {
    transition: all 0.45s;
}

.treeViewList .title {

}

.treeViewList .title:hover {
    cursor: pointer;
}

.treeViewList img {
    padding: 0 3px 0 3px;
}

.treeViewList li.node-active {

}

.treeViewList span.node-active {

}
