<div class="row">
    <input type="text" class="col-12 form-control" placeholder="Folder name" id="txtFolderName"/>
</div>
<div class="row m-2">
    <button type="button" class="btn btn-sm btn-outline-secondary me-2 col-5" onclick="hidePopovers()">Cancel</button>
    <button type="button" class="btn btn-sm btn-primary col-5" onclick="CreateFolder()">Create</button>
</div>

@code {

}