@inherits DashboardPage
@{base.BuildRenderTree(__builder);}

<SectionContent SectionName="ToolbarSection">
    <button class="btn btn-primary" >Click me</button>
</SectionContent>

<SectionContent SectionName="ToolbarSection2">
    <button class="btn btn-primary" >Click me</button>
</SectionContent>

asdlhalsdfhlaskd

@code {
    
}