@page "/"
@using Dashboard.Pages.Dashboards
@using Dashboard.Const
@using Dashboard.Pages.Dashboards.Authentications
@using Dashboard.Pages.Dashboards.Credentials
@using Dashboard.Services

@implements IDisposable 

@inject IMainTreeViewService MainTreeViewService

@{
    var currentId= MainTreeViewService.Selected?.Data?.Id ?? DashboardIds.Main;
}

@if (currentId == DashboardIds.Main)
{
    <Main></Main>
}
@if (currentId == DashboardIds.Credential)
{
    <Credential></Credential>
}

@if (currentId == DashboardIds.User)
{
    <Users></Users>
}
@if (currentId == DashboardIds.LDAP)
{
    <Ldap></Ldap>
}

@code {
    
    protected override void OnInitialized()
    {
        MainTreeViewService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MainTreeViewService.OnChange -= StateHasChanged;
    }
}