@using Dashboard.Components
@using Dashboard.Components.Models

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">

            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">NVM</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <div class="menu-inner main-tree py-1">
        <TreeViewList Items="_treeNodes" TData="int" OnSelectNode="@OnNodeSelect" @ref="_treeViewList"/>
    </div>
</aside>



@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private TreeViewList<int>? _treeViewList;
    
    protected override void OnInitialized()
    {
        var rootNode = new TreeItemData<int>("NVM", 0, true);
        _treeViewList?.SetSelectedNode(rootNode);
        var child1=new TreeItemData<int>("Dashboard", 1, icon:"/img/icons/datacenter-16.png");
        child1.AddChild(new TreeItemData<int>("Child 1",3,icon:"/img/icons/datacenter-16.png"));
        rootNode.AddChild(child1);
        rootNode.AddChild(new TreeItemData<int>("other", 2, false));
        _treeNodes.Add(rootNode);
        
        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private List<TreeItemData<int>> _treeNodes = new();

    private async Task OnNodeSelect(TreeItemData<int> item)
    {
        //Console.WriteLine(item.Text);
    }

}