@using Dashboard.Application.Credentials.Commands.AddCredentials.AddCredentialsNone
@using Dashboard.Application.Credentials.Commands.CommitCredentialsChanges

@inject IMediator Mediator
@inject SweetAlertService Swal;

<Dialog title="Add None credential" @ref="_addCredential">
    <Body>
    <div class="form-group">
        <label for="txt-add-none-name">Name <span class="required">*</span></label>
        <input type="text" class="form-control" id="txt-add-none-name" @bind="_name" placeholder="credential name"/>
    </div>

    <div class="form-group">
        <label for="txt-add-none-description">Description</label>
        <input type="text" class="form-control" id="txt-add-none-description" @bind="_description" placeholder="(optional)"/>
    </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="Add">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
    </Footer>
</Dialog>

@code {
    [Parameter]
    public EventCallback OnAdd { get; set; }
    
    private Dialog? _addCredential;

    private string _name = string.Empty;
    private string? _description = string.Empty;

    public void Show()
    {
        _name = string.Empty;
        _description = default;
        _addCredential?.Open();
    }

    private void Close()
    {
        _addCredential?.Close();
    }

    private async Task Add()
    {
        if (!IsValidForm())
        {
            await Swal.FireAsync("Error", "Invalid form data", SweetAlertIcon.Error);
            return;
        }

        var addCredentialResponse = await Mediator.Send(new AddCredentialNone(_name, _description));

        if (addCredentialResponse.IsFailure)
        {
            await Swal.FireAsync("Error", addCredentialResponse.Error!.Message, SweetAlertIcon.Error);
            return;
        }

        await Mediator.Send(new CommitCredentialChanges());
        
        Close();

        await OnAdd.InvokeAsync();
    }

    private bool IsValidForm()
    {
        return !string.IsNullOrWhiteSpace(_name);
    }


}