@inherits LayoutComponentBase


<PageTitle>Agent.UI</PageTitle>

<CascadingValue Value="this">
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                @Body
            </div>
        </div>
    </div>

</CascadingValue>

@code
{

}