@inherits LayoutComponentBase

<PageTitle>Agent.UI</PageTitle>

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu @ref="_navMenu"/>
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private NavMenu? _navMenu;
    public async Task RefreshNavbar()
    {
        await _navMenu!.RefreshMenu();
    }
}
