@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<PageTitle>Agent.UI</PageTitle>

<CascadingValue Value="this">
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <NavMenu @ref="_navMenu"/>

            <div class="layout-page">
                <NavBar/>

                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            @Body
                        </div>
                    </div>

                    <FooterPage/>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>

        @*-- Overlay --*@
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</CascadingValue>

@code
{
    private NavMenu? _navMenu;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        await JsRuntime.InvokeVoidAsync("setMenuToggled");
    }

    public async Task RefreshNavbar()
    {
        await _navMenu!.RefreshMenu();
    }
}