<Dialog title="Add None certificate" @ref="_addCertificate">
    <Body>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" @bind="_name" />
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => _addCertificate?.Close()">Close</button>
    </Footer>
</Dialog>

@code {
    private Dialog? _addCertificate;

    private string _name = string.Empty;

    public void Show()
    {
        _name = string.Empty;
        _addCertificate?.Open();
    }
    
}