@using MediatR
@using Dashboard.Application.Credentials.Queries.GetAllCredentials
@using Dashboard.Domain.Entities

@inherits DashboardPage
@{ base.BuildRenderTree(__builder); }

@inject IMediator Mediator
@inject SweetAlertService Swal;

<SectionContent SectionName="ToolbarSection">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="img/icons/certificate-24.png" alt="certificate"/>
                Add
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="javascript:void(0);" @onclick="() => _addNoneCertificateDialog?.Show()">
                        None
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:void(0)">
                        Basic
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" @onclick="LoadData">
                <img src="img/icons/refresh-24.png" alt="Refresh"/>
                Refresh
            </a>
        </li>
    </ul>
</SectionContent>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var credential in _credentials)
    {
        <tr>
            <td>
                <strong>@credential.Name</strong>
            </td>
            <td>
                <span class="badge bg-label-primary me-1">@credential.CredentialType</span>
            </td>
            <td>@credential.Description</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);">
                            <i class="bx bx-edit-alt me-1"></i> Edit
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);">
                            <i class="bx bx-trash me-1"></i> Delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<AddNoneCertificate @ref="_addNoneCertificateDialog"></AddNoneCertificate>

@code {
    private List<Credential> _credentials = new(0);
    private AddNoneCertificate? _addNoneCertificateDialog;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
    }

    private async Task LoadData()
    {
        var credentialsResponse = await Mediator.Send(new GetAllCredentialQuery());
        if (credentialsResponse.IsFailure)
        {
            await Swal.FireAsync("Error", credentialsResponse.Error!.Message, SweetAlertIcon.Error);
            return;
        }

        _credentials = credentialsResponse.Value!.ToList();
    }

}